;; Project private configuration
;; Put project passwords and other secrets here

{:clojars/username "mike1452"
 :clojars/password "CLOJARS_85ddca752569665dd5545f57cdd4b6ca92c88524eac0373ac0c8e7b95b02"}
